<!doctype html>
<head>
{% block headscripts %}
{% endblock %}
<title>{% block title %}{% endblock %} - FoodCalc</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>FoodCalc</h1>
    <ul>
        <li><a href="{{ url_for('all_foods') }} "> All foods </a>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('logout') }}">Log Out</a>
            <li><a href="{{ url_for('dri') }}">View or change your daily recommended intake of nutrients</a>
            <li><a href="{{ url_for('eaten_food') }}">View eaten food</a>
        {% else %}
            <li><a href="{{ url_for('register') }}">Register</a>
            <li><a href="{{ url_for('login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  <p>The current version does not allow yet to store eaten foods in the database for a long time. This is due to the fact that the database is included in the deployment. It is needed to make the database independent of the deployment.</p>
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>